
    body {
      background-image: url("");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: Arial, sans-serif;
    }
    h1, h2 {
      text-align: center;
    }
    .wel{
       color :red;
   
   text-align: center;
   padding: 5px;
   border: 10px groove rgb(0, 217, 255);
   margin: 5px;
    }
   
    h1 {
      color:white;
    }
    h2 {
      color: rgb(25, 25, 160);
    }
    .h1{
  
   border: 10px groove rgb(0, 217, 255);
   margin: 5px;
   background-color: rgb(50, 49, 49);
 
 
}
.logoji{

    margin-top: 25px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    padding: 25px;
   animation-name: logo;
   animation-duration: 2s;
   
   animation-timing-function: linear  ;
}

@keyframes logo {
  from{
    transform: rotate(0deg)scale(1.0);
  }
  to{
    transform: rotate(360deg) scale(1.1);
  }
  
}
.name1{
   color :white;
   text-align: center;
    background-color: rgb(50, 49, 49);
  width: 500px;
  display: inline-block;
 padding-left: 350px;
 margin-bottom: 20px;

 animation-name: movetoptobotton1;
    animation-duration: 2s;
}
@keyframes movetoptobotton1{
           from{   
            opacity: 0;                       
            transform: translateY(-20px) ;
            
           }
          
           to{
            opacity: 1 ;
          transform: translateY(0);
           
           }
        }
        .n1{
            color: white;
            animation-name: movetoptobotton1;
    animation-duration: 2s;
        }
        @keyframes movetoptobotton1{
           from{   
            opacity: 0;                       
            transform: translateY(-20px) ;
            
           }
          
           to{
            opacity: 1 ;
          transform: translateY(0);
           
           }
        }
    
.button1
{
    
    background-color:skyblue;
    animation-name: movetoptobotton;
    animation-duration: 2s;

}
@keyframes movetoptobotton{
           from{   
            opacity: 0;                       
            transform: translateY(-20px) ;
            
           }
          
           to{
            opacity: 1 ;
          transform: translateY(0);
           
           }
        }




    .nav-buttons a {
      margin:5px;
      text-decoration: none;
    }
    .car-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 20px;
  
    }
    .car-card {
     
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border:  10px groove aqua;
      color: black;
      text-align: center;
     
     transform: skew(10deg);
    }
    .car-card img {
      width: 50%;
      height: auto;
    
    }
   